{% extends 'layout/html.html' %}

{% block content %}
    <h1>VIEW PROPERTY PAGE</h1>
    <br>
    Because we have access to the property tuple we have access to its id which is: {{ property.getId() }}
    <br>
    Because we have access to properties address(and we also passed continent and country name based on that) we can tell you its: 
    <br>
    continent: {{ continent.getName() }} | country: {{ country.getName() }} | state: {{ address.getState() }} | locality {{ address.getLocality() }}
    <br>
    street name: {{ address.getStreetname() }} | building identifier: {{ address.getBuildingidentifier() }} | apartment identifier : {{ address.getApartmentidentifier() }} | zipCode: {{ address.getZipcode() }}
    <br>
    Because we have access to this property's pictures we can tell you there are {{ pictures|length }} " pictures"
    <br>
    Because we have access to this property's appliances we can tell you there are {{ appliances|length }} " appliances"
    <br>
    Because we have access to this property's utilities we can tell you there are {{ utilities|length }} "utilities"
    <br>
    Because we have access to this property's amenities we can tell you there are {{ amenities|length }} "amenities"
    <br>
    Because we have access to this property's perks we can tell you there are {{ perks|length }} "perks"
    <br>
    Because we have access to this property's issues we can tell you there are {{ issues|length }} "issues"
    <br>
    The owner of this property is {{ owner.getName() }} and has email {{ owner.getEmail() }} and has {{ phones|length }} phones
{% endblock %}

{% block styles %}
    <!--style sheet-->
    <link rel="stylesheet" href="{{ base_url() }}/../../TEMPLATES/viewProperty/css.css">
{% endblock %}

{% block scripts %}
    <!--javascript-->
    <script src="{{ base_url() }}/../../TEMPLATES/viewProperty/js.js"></script>
{% endblock %}