#locationSection > div{
    margin: 5px;
}

.sectionTitle {
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}

/*-----other stuff-----*/

.propertyMinMaxSection > .col > div, .propertyMinMaxSection > .col > h4{ 
    display: inline-block !important;
}

#to {
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
}

#addPropertySection {
    overflow: auto;
    margin-bottom: 15px;
}

#addPropertyButton {
    float: right;
}

.propertyCard {
    margin: 15px;
}

.mainRow > div {
    margin: 15px;
}

.carousel {
    width: 350px;
    height: 350px;
}

/*-----slider text boxes-----*/

.col-auto {
    padding-left: 5px;
    padding-right: 5px;
}

.sliderContainer {
    margin-top: 5px;
    margin-bottom: 5px;
}

.sliderTitle {
    margin: auto;
}

.sliderClass {
    height: auto;
}

.rentTag {
    width: 75px;
}

.sqftTag {
    width: 90px;
}

.textTag {
    width: 50px;
}

/*-----slider override-----*/

.ui-slider-range {
    background-color: #38c;
}

.ui-state-hover {
    border: 1px solid #c5c5c5 !important;
    background-color: #f6f6f6 !important;
}

.ui-state-active {
    border: 1px solid #c5c5c5 !important;
    background-color: #f6f6f6 !important;
}