{% extends 'layout/html.html' %}

{% block content %}

    <!--Loop through all the properties to display all of them-->
    {% for property in properties %}
        <div class="card propertyCard">
            <div class="card-header topSection">
                <div class="row mainRow">
                    <!--Find these properties pictures-->
                    {% set propertyPictures = [] %}
                    {% for picture in pictures %}
                        {% if picture.getPropertyid() == property.getId() %}
                            {% set propertyPictures = propertyPictures|merge([picture]) %}
                        {% endif %}
                    {% endfor %}
                    <!--If this Property has photos then display them-->
                    {% if propertyPictures|length > 0 %}
                        <div class="col-md-auto">
                            <div class="carousel slide" id="slideShow{{ property.getId() }}" data-ride="carousel">
                                <!--If we only have 1 photo then display that single photo-->
                                {% if propertyPictures|length == 1 %}
                                    {% for propertyPicture in propertyPictures %}
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img class="d-block imageInSlide" src="{{ propertyPicture.getLink() }}" alt="{{ propertyPicture.getDetails() }}">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5 class="carouselCaptionTitle">{{ propertyPicture.getDetails() }}</h5>
                                                    <br>
                                                    <p class="carouselCaptionDate">uploaded: {{ propertyPicture.getAdddate()|date("m/d/Y") }}</p>
                                                </div>
                                            </div>
                                        </div> 
                                    {% endfor %}
                                <!--Other wise display a carousel of photos-->
                                {% else %}
                                    <ol class="carousel-indicators">
                                        <!--Generate all the thumbnails-->
                                        {% set slideID = 0 %}
                                        {% for propertyPicture in propertyPictures %}
                                            <li data-target="#slideShow{{ property.getId() }}" data-slide-to="{{ slideID }}" 
                                                {% if slideID == 0 %}
                                                    class="active"
                                                {% endif %}
                                            >
                                                <img class="d-block w-100 imageInThumbnail" src="{{ propertyPicture.getLink() }}" alt="{{ propertyPicture.getDetails() }}">
                                            </li>
                                            {% set slideID = slideID +  1 %}
                                        {% endfor %}
                                    </ol>
                                    <div class="carousel-inner">
                                        <!--Generate all the Slides-->
                                        {% set slideID = 0 %}
                                        {% for propertyPicture in propertyPictures %}
                                            <div class="carousel-item 
                                            {% if slideID == 0 %}
                                                active
                                            {% endif %}
                                            ">
                                                <img class="d-block imageInSlide" src="{{ propertyPicture.getLink() }}" alt="{{ propertyPicture.getDetails() }}">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5 class="carouselCaptionTitle">{{ propertyPicture.getDetails() }}</h5>
                                                    <br>
                                                    <p class="carouselCaptionDate">uploaded: {{ propertyPicture.getAdddate()|date("m/d/Y") }}</p>
                                                </div>
                                            </div>
                                            {% set slideID = slideID +  1 %}
                                        {% endfor %}
                                    </div>
                                    <a class="carousel-control-prev" href="#slideShow{{ property.getId() }}" role="button" data-slide="prev">
                                        <span class="carousel-controls carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#slideShow{{ property.getId() }}" role="button" data-slide="next">
                                        <span class="carousel-controls carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="col">
                        <h1>{{ property.getPostname() }}</h1>
                        <h5>
                            <!--find the address for this particular property-->
                            {% set propertyAddress = null %}
                            {% for address in addresses %}
                                {% if address.getId() == property.getAddressid() %}
                                    {% set propertyAddress = address %}
                                {% endif %}
                            {% endfor %}

                            <!--find our continent name-->
                            {% set continentName = "" %}
                            {% for continentType in continentTypes %}
                                {% if continentType.getId() == propertyAddress.getContinenttypeid() %}
                                    {% set continentName = continentType.getName() %}
                                {% endif %}
                            {% endfor %}
                            <!--find our country name-->
                            {% set countryName = "" %}
                            {% for countryType in countryTypes %}
                                {% if countryType.getId()  == propertyAddress.getCountrytypeid() %}
                                    {% set countryName = countryType.getName() %}
                                {% endif %}
                            {% endfor %}
                            <!--declare our empty address string-->
                            {% set formattedAddress = "" %}

                            <!--*****Generate the Address String*****-->
                            <!--ADDRESS FORMAT => 
                                :Apt 3A | 
                                :101 Grover Rd | 
                                :Edinburg, Texas | 
                                :United States, America
                                : | 78342-->
                            <!--add the apartment identifier if we have it-->
                            {% if propertyAddress.getApartmentidentifier() %}
                                {% set formattedAddress = formattedAddress ~ "Apt " ~ propertyAddress.getApartmentidentifier() ~ " | "%}
                            {% endif %}
                            <!--add the building identifier and street name combo-->
                            {% if propertyAddress.getBuildingIndentifier() %}
                                {% set formattedAddress = formattedAddress ~ propertyAddress.getBuildingIndentifier() %}
                                {% if propertyAddress.getStreetname() %}
                                    {% set formattedAddress = formattedAddress ~ " " ~ propertyAddress.getStreetname()%}
                                {% endif %}
                                {% set formattedAddress = formattedAddress  ~ " | " %}
                            {% else %}
                                {% if propertyAddress.getStreetname() %}
                                    {% set formattedAddress = formattedAddress ~ propertyAddress.getStreetname() ~ " | " %}
                                {% endif %}
                            {% endif %}
                            <!--add the locality state combo-->
                            {% if propertyAddress.getLocality() %}
                                {% set formattedAddress = formattedAddress ~ propertyAddress.getLocality() %}
                                {% if propertyAddress.getState() %}
                                    {% set formattedAddress = formattedAddress ~ ", " ~ propertyAddress.getState()%}
                                {% endif %}
                                {% set formattedAddress = formattedAddress  ~ " | " %}
                            {% else %}
                                {% if propertyAddress.getState() %}
                                    {% set formattedAddress = formattedAddress ~ propertyAddress.getState() ~ " | " %}
                                {% endif %}
                            {% endif %}
                            <!--we know we are going to have a country and a continent so we simply the problem a bit-->
                            {% set formattedAddress = formattedAddress ~ countryName ~ ", " ~ continentName %}
                            <!--add the zip code if we have it-->
                            {% if propertyAddress.getZipcode() %}
                                {% set formattedAddress = formattedAddress ~ " | " ~ propertyAddress.getZipcode() %}
                            {% endif %}
                            <!--print the string we calculated above-->
                            {{ formattedAddress }}
                        </h5>
                        <p>posted: {{ property.getAdddate()|date("m/d/Y") }} | updated: {{ property.getLastupdated()|date("m/d/Y") }}</p>
                        <br>
                        {% if property.getDetails() %}
                            <h5>{{ property.getDetails() }}</h5>
                            <br>
                        {% endif %}
                        <h4>
                            <span>{{ property.getSquarefootage() }}</span>&nbsp;sqrft 
                            | 
                            <span>{{ property.getBedroomcount() }}</span>&nbsp;bed 
                            | 
                            <span>{{ property.getBathroomcount() }}</span>&nbsp;bath
                        </h4>
                        <br>
                        <h2>$<span>{{ property.getExpectedrentpermonth() }}</span></h2>
                        <br>
                        <button type="submit" id="{{ property.getId() }}" class="btn btn-default btn-sm btn-primary redirectButton">
                            <span>
                                {% if search %}
                                    More Details
                                {% else %}
                                    Edit Details
                                {% endif %}
                            </span><span class="fas fa-chevron-down margin-left: 15px;"></span>
                        </button>
                    </div>
                </div>
            </div>
            {% if search %}
                <div class="bottomSection card-header">
                    <div class="row">
                        <!--find the owner of this property-->
                        {% set propertyOwner = null %}
                        {% for owner in owners %}
                            {% if property.getUserid() == owner.getId() %}
                                {% set propertyOwner = owner %}
                            {% endif %}
                        {% endfor %}

                        <div class="col-lg m-3">
                            <span class="fas fa-user"></span><span>{{ propertyOwner.getName() }}</span>
                        </div>
                        <div class="col-lg m-3">
                            <span class="fas fa-envelope"></span><span>{{ propertyOwner.getEmail() }}</span>
                        </div>
                        <div class="col-lg m-3">
                            <ul class="list-group userPhones">
                                <!--find all the phone number of this owner-->
                                {% set propertyOwnerPhones = [] %}
                                {% for phone in phones %}
                                    {% if phone.getUserid() == propertyOwner.getId() %}
                                        {% set propertyOwnerPhones = propertyOwnerPhones|merge([phone]) %}
                                    {% endif %}
                                {% endfor %}

                                <!--If we have phone numbers display them-->
                                {% if propertyOwnerPhones|length > 0 %}
                                    <!--print phone number title-->
                                        <li class="list-group-item list-group-item-dark">
                                            <span class="fas fa-phone"></span> Phone Numbers
                                        </li>
                                    <!--print all the phone numbers-->
                                    {% for propertyOwnerPhone in propertyOwnerPhones %}
                                        <li class="list-group-item">
                                            {% if propertyOwnerPhone.getDescription() %}
                                                {{ propertyOwnerPhone.getDescription() }}&nbsp;|&nbsp;
                                            {% endif %}
                                            ({{ propertyOwnerPhone.getAreacode() }})&nbsp;{{ propertyOwnerPhone.getNumber() }}
                                            {% if propertyOwnerPhone.getExtension() %}
                                                &nbsp;ext&nbsp;{{ propertyOwnerPhone.getExtension() }}
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>availability switch here</p>
            {% endif %}
        </div>
    {% endfor %}

    {% if user %}
        <div class="container" id="addPropertySection">
            <form action="{{ base_url() }}/addProperty">
                <button type="submit" class="btn btn-primary" id="addPropertyButton">Add Property</button>
            </form>
        </div>
    {% endif %}

{% endblock %}

{% block styles %}
    <!--style sheet-->
    <link rel="stylesheet" href="{{ base_url() }}/../../TEMPLATES/properties/css.css">
{% endblock %}

{% block scripts %}
    <!--javascript-->
    <script src="{{ base_url() }}/../../TEMPLATES/properties/js.js"></script>
{% endblock %}