{% extends 'layout/html.html' %}

{% block content %}

    <!--TODO REMOVE THESE TEST BUTTONS-->
    <!--NOTE: you can also do this with AJAX and simply update the url as needed-->
    <!--
        The AJAX call would make a call to a get function
        here the parameters would be read in
        once again you would filter out the properties that didnt make the cut
        this time you only need to return the properties that did make the cut
        then you return this list as a json array to javascript
        now you iterate through all your propertys (some of which are hidden)
        IF their property id (stored as the id of .propertyCard) is within the chosen onces you do $(property).show()
        ELSE you do $(property).hide()
        then by some wizzard magic you replace the url without reloading the page

        NOTE: regardless since you can book mark pages... the params read in should populate the search box with all the respective tags a user would normally use to get there
    -->
    <a href="{{ base_url() }}/?applianceTypeIDs=[1,3,4]">
        <button type="submit" class="btn btn-default btn-sm btn-primary redirectButton">
            Search for properties with appliance type 1 and 3 and 4
        </button>
    </a>
    <br>
    <br>
    <a href="{{ base_url() }}/?continentTypeID=6&countryTypeID=104">
        <button type="submit" class="btn btn-default btn-sm btn-primary redirectButton">
            Search for properties with a continent id of 6 AND a country id of 104
        </button>
    </a>

    <!--Loop through all the properties to display all of them-->
    {% for property in properties %}
        <!--If you are searching then hide all the properties that dont current meet your conditions-->
        <!--If you params you can simply unhide them with ajax-->
        <div class="card propertyCard" id="property{{ property.getId() }}"
            {% if search %}
                {% if property.getId() not in desiredPropertyIDs %}
                    style="display:none";
                {% endif %}
            {% endif %}
        >
            <div class="card-header topSection">
                <div class="row mainRow">
                    <!--Find these properties pictures-->
                    {% set propertyPictures = [] %}
                    {% for picture in pictures %}
                        {% if picture.getPropertyid() == property.getId() %}
                            {% set propertyPictures = propertyPictures|merge([picture]) %}
                        {% endif %}
                    {% endfor %}
                    <!--If this Property has photos then display them-->
                    {% if propertyPictures|length > 0 %}
                        <div class="col-md-auto">
                            <div class="carousel slide" id="slideShow{{ property.getId() }}" data-ride="carousel">
                                <!--If we only have 1 photo then display that single photo-->
                                {% if propertyPictures|length == 1 %}
                                    {% for propertyPicture in propertyPictures %}
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img class="d-block imageInSlide" src="{{ propertyPicture.getLink() }}" alt="{{ propertyPicture.getDetails() }}">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5 class="carouselCaptionTitle">{{ propertyPicture.getDetails() }}</h5>
                                                    <br>
                                                    <p class="carouselCaptionDate">uploaded: {{ propertyPicture.getAdddate()|date("m/d/Y") }}</p>
                                                </div>
                                            </div>
                                        </div> 
                                    {% endfor %}
                                <!--Other wise display a carousel of photos-->
                                {% else %}
                                    <ol class="carousel-indicators">
                                        <!--Generate all the thumbnails-->
                                        {% set slideID = 0 %}
                                        {% for propertyPicture in propertyPictures %}
                                            <li data-target="#slideShow{{ property.getId() }}" data-slide-to="{{ slideID }}" 
                                                {% if slideID == 0 %}
                                                    class="active"
                                                {% endif %}
                                            >
                                                <img class="d-block w-100 imageInThumbnail" src="{{ propertyPicture.getLink() }}" alt="{{ propertyPicture.getDetails() }}">
                                            </li>
                                            {% set slideID = slideID +  1 %}
                                        {% endfor %}
                                    </ol>
                                    <div class="carousel-inner">
                                        <!--Generate all the Slides-->
                                        {% set slideID = 0 %}
                                        {% for propertyPicture in propertyPictures %}
                                            <div class="carousel-item 
                                            {% if slideID == 0 %}
                                                active
                                            {% endif %}
                                            ">
                                                <img class="d-block imageInSlide" src="{{ propertyPicture.getLink() }}" alt="{{ propertyPicture.getDetails() }}">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5 class="carouselCaptionTitle">{{ propertyPicture.getDetails() }}</h5>
                                                    <br>
                                                    <p class="carouselCaptionDate">uploaded: {{ propertyPicture.getAdddate()|date("m/d/Y") }}</p>
                                                </div>
                                            </div>
                                            {% set slideID = slideID +  1 %}
                                        {% endfor %}
                                    </div>
                                    <a class="carousel-control-prev" href="#slideShow{{ property.getId() }}" role="button" data-slide="prev">
                                        <span class="carousel-controls carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#slideShow{{ property.getId() }}" role="button" data-slide="next">
                                        <span class="carousel-controls carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="col">
                        <h1>{{ property.getPostname() }}</h1>
                        <h5>
                            <!--find the address for this particular property-->
                            {% set propertyAddress = null %}
                            {% for address in addresses %}
                                {% if address.getId() == property.getAddressid() %}
                                    {% set propertyAddress = address %}
                                {% endif %}
                            {% endfor %}

                            <!--find our continent name-->
                            {% set continentName = "" %}
                            {% for continentType in continentTypes %}
                                {% if continentType.getId() == propertyAddress.getContinenttypeid() %}
                                    {% set continentName = continentType.getName() %}
                                {% endif %}
                            {% endfor %}
                            <!--find our country name-->
                            {% set countryName = "" %}
                            {% for countryType in countryTypes %}
                                {% if countryType.getId()  == propertyAddress.getCountrytypeid() %}
                                    {% set countryName = countryType.getName() %}
                                {% endif %}
                            {% endfor %}
                            <!--declare our empty address string-->
                            {% set formattedAddress = "" %}

                            <!--*****Generate the Address String*****-->
                            <!--ADDRESS FORMAT => 
                                :Apt 3A | 
                                :101 Grover Rd | 
                                :Edinburg, Texas | 
                                :United States, America
                                : | 78342-->
                            <!--add the apartment identifier if we have it-->
                            {% if propertyAddress.getApartmentidentifier() %}
                                {% set formattedAddress = formattedAddress ~ "Apt " ~ propertyAddress.getApartmentidentifier() ~ " | "%}
                            {% endif %}
                            <!--add the building identifier and street name combo-->
                            {% if propertyAddress.getBuildingIndentifier() %}
                                {% set formattedAddress = formattedAddress ~ propertyAddress.getBuildingIndentifier() %}
                                {% if propertyAddress.getStreetname() %}
                                    {% set formattedAddress = formattedAddress ~ " " ~ propertyAddress.getStreetname()%}
                                {% endif %}
                                {% set formattedAddress = formattedAddress  ~ " | " %}
                            {% else %}
                                {% if propertyAddress.getStreetname() %}
                                    {% set formattedAddress = formattedAddress ~ propertyAddress.getStreetname() ~ " | " %}
                                {% endif %}
                            {% endif %}
                            <!--add the locality state combo-->
                            {% if propertyAddress.getLocality() %}
                                {% set formattedAddress = formattedAddress ~ propertyAddress.getLocality() %}
                                {% if propertyAddress.getState() %}
                                    {% set formattedAddress = formattedAddress ~ ", " ~ propertyAddress.getState()%}
                                {% endif %}
                                {% set formattedAddress = formattedAddress  ~ " | " %}
                            {% else %}
                                {% if propertyAddress.getState() %}
                                    {% set formattedAddress = formattedAddress ~ propertyAddress.getState() ~ " | " %}
                                {% endif %}
                            {% endif %}
                            <!--we know we are going to have a country and a continent so we simply the problem a bit-->
                            {% set formattedAddress = formattedAddress ~ countryName ~ ", " ~ continentName %}
                            <!--add the zip code if we have it-->
                            {% if propertyAddress.getZipcode() %}
                                {% set formattedAddress = formattedAddress ~ " | " ~ propertyAddress.getZipcode() %}
                            {% endif %}
                            <!--print the string we calculated above-->
                            {{ formattedAddress }}
                        </h5>
                        <p>posted: {{ property.getAdddate()|date("m/d/Y") }} | updated: {{ property.getLastupdated()|date("m/d/Y") }}</p>
                        <br>
                        {% if property.getDetails() %}
                            <h5>{{ property.getDetails() }}</h5>
                            <br>
                        {% endif %}
                        <h4>
                            <span>{{ property.getSquarefootage() }}</span>&nbsp;sqrft 
                            | 
                            <span>{{ property.getBedroomcount() }}</span>&nbsp;bed 
                            | 
                            <span>{{ property.getBathroomcount() }}</span>&nbsp;bath
                        </h4>
                        <br>
                        <h2>$<span>{{ property.getExpectedrentpermonth() }}</span></h2>
                        <br>
                        {% if search %}
                            <a href="{{ base_url() }}/viewProperty?propertyID={{ property.getId() }}">
                                <button type="submit" class="btn btn-default btn-sm btn-primary redirectButton">
                                    <span>More Details</span>
                                    <span class="fas fa-chevron-down margin-left: 15px;"></span>
                                </button>
                            </a>
                        {% else %}
                            <a href="{{ base_url() }}/editProperty?propertyID={{ property.getId() }}">
                                <button type="submit" class="btn btn-default btn-sm btn-primary redirectButton">
                                    <span>More Details</span>
                                    <span class="fas fa-chevron-down margin-left: 15px;"></span>
                                </button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if user %}
        <div class="container" id="addPropertySection">
            <form action="{{ base_url() }}/addProperty">
                <button type="submit" class="btn btn-primary" id="addPropertyButton">Add Property</button>
            </form>
        </div>
    {% endif %}

{% endblock %}

{% block styles %}
    <!--style sheet-->
    <link rel="stylesheet" href="{{ base_url() }}/../../TEMPLATES/properties/css.css">
{% endblock %}

{% block scripts %}
    <!--javascript-->
    <script src="{{ base_url() }}/../../TEMPLATES/properties/js.js"></script>
{% endblock %}