{% extends 'layout/layout.html' %}

{% block content %}
    <h1> SEARCH PAGE </h1>
{% endblock %}

{% block styles %}
    <!--style sheet-->
    <link rel="stylesheet" href="{{ base_url() }}/../../TEMPLATES/search/css/search.css">
{% endblock %}

{% block scripts %}
    <!--javascript connection but go before logic-->
    <script src="{{ base_url() }}/../../TEMPLATES/search/javascript/searchConnection.js"></script>
    <script src="{{ base_url() }}/../../TEMPLATES/search/javascript/searchLogic.js"></script>
{% endblock %}