#formContainer {
    margin: auto;
}

#formCard {
    margin: 15px;
    width: 100%;
    max-width: 500px;
}

#formState, #error {
    display: none;
}

#submitButton {
    float: right;
}

#switcher {
    margin-top: 5px;
    margin-bottom: 5px;
}

#formTitle, .form-group {
    margin: 0px;
    margin-top: 15px;
}

#error {
    margin-bottom: 5px;
    margin-top: 5px;
}