{% extends 'layout/html.html' %}

{% block content %}
Currently have property with id: {{ property.getId() }}

<h1>EDIT PROPERTY PAGE</h1>
    <br>
    <ol>
        <li>very similar to add property</li>
        <li>only differnence is that you need to fill in by maybe using a post method and passing everything as json</li>
        <li>and you also need to pass it an id</li>
        <li>IDEALLY you can have both of these pages simply extend from another file that holds all the very similar formatting</li>
    </ol>
{% endblock %}

{% block styles %}
    <!--style sheet-->
    <link rel="stylesheet" href="{{ base_url() }}/../../TEMPLATES/editProperty/css.css">
{% endblock %}

{% block scripts %}
    <!--javascript-->
    <script src="{{ base_url() }}/../../TEMPLATES/editProperty/js.js"></script>
{% endblock %}