<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{{base_url()}}/../../css/style.css">
        <script> var baseurl = "{{base_url()}}"; </script>

        {% block css %} {% endblock %}
        {% block title %}
            <title>Apartment Finder</title>
        {% endblock %} 
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{base_url()}}">Apartment Finder</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">

                {% if not user %}
                <!--LOGIN-->
                <span class="navbar-text" id = "loginSpan">
                    <button type="button" class="btn btn-primary btn-sm" id="loginButton">
                        <a href="{{base_url()}}/login">Login</a>
                    </button>
                </span>
                {% else %}
                <!--GREET-->
                <span class="navbar-text" id ="greetSpan">
                    <p userid = "{{ user.getPrimaryKey() }}">Welcome, {{ user.getName() }}</p>
                    <button type="button" class="btn btn-primary btn-sm" id="logoutButton">Logout</button>
                </span>
                <!--REST OF NAV-->
                {#
                Depending on userType
                Add Property
                Search Properties
                Etc.
                  #}
                {% endif %}
            </div>
        </nav>
        <div class="container">
            {% block content %}
            
            {% endblock %}
        </div>
        <div class = "footer">
                <p>For Educational Purposes.</p><p> Created by Jafet Reyes | Gerardo Guerrero | Bryan Cancel. &copy2018</p>
            </div>
        
    </body>

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="{{base_url()}}/../../public/app.js"></script>
</html>