/*-----icons-----*/
chevron-down:before{content:"\f078"}

/*-----carousel settings-----*/
#carouselExampleIndicators{
    padding: 0px !important;
    margin: auto !important;
    width: 350px !important;
    height: 350px !important;
    background-color: red !important;
}

#mainRow > div {
    margin: 15px;
}

/*-----carousel thumbnail styling-----*/

.carousel-indicators {
    padding: 0px !important;
    height: 25px !important; /*height of thumbnails*/
    width: auto !important; /*width automatically spans entire carousel container*/
}

.carousel-indicators > li {
    /*where we could set the background color of the thumbnails if we wanted to*/
    height: 100% !important;
    width: auto !important;
}

.carousel-indicators > li > img {
    height: 100% !important;
    width: auto !important;
}

/*-----carousel image styling-----*/

.carousel-inner, .carousel-item {
    height: 350px;
    width: 350px;
}

.carousel-item {
    object-fit: contain !important;
}

.carousel-item > img{
    width: auto !important;
    object-fit: contain !important;
}

/*-----other carousel styling-----*/

.carousel-control-prev, .carousel-control-next {
    width: auto;
    top: 0;
    bottom: 0;
    margin: 15px;
    margin-top: 50%;
    margin-bottom: 50%;
}

.carousel-controls {
    padding: 15px; /*works like size*/
    border: 5px solid black; /*works like padding*/
    background-color: black;
}

.carousel-caption {
    width: 100%;
    height: auto;
    left: auto;
    right: auto;
    padding: 0px;
    padding-left: 15px; 
    text-align: left;
    bottom: 40px;
}

.carouselCaptionTitle, .carouselCaptionDate {
    display: inline-block;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.25) !important;
    font-size: .75em;
}

.carouselCaptionDate {
    margin-left: 30px;
    font-size: .5em;
}

.d-md-block {
    display: block !important;
}