<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--favicon code for different browsers-->
    <link rel="icon" 
    type="image/x-icon" 
    href="{{ base_url() }}/../../IMAGES/favicon.ico">

    <link rel="shortcut icon" 
    type="image/x-icon" 
    href="{{ base_url() }}/../../IMAGES/favicon.ico">

    <link rel="address bar icon" 
    type="image/x-icon" 
    href="{{ base_url() }}/../../IMAGES/favicon.ico">

    <!--website title-->
    <title>APT SEARCH</title>

    <!--bootstrap style sheet-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--make the base url accessible to javascript files-->
    <script> var baseurl = "{{ base_url() }}"; </script>
</head>
<body>
    <!--bootstrap javascript imports(includes jquery)-->
    <script src="https://code.jquery.com/jquery-3.3.1.js"integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!--css reset-->
    <link rel="stylesheet" href="{{ base_url() }}/../../TEMPLATES/layout/css/reset.css">

    <!-- Back to top button -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet">

    <a id="scrollToTop"></a>

    <!--nav bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav">
        <!--what is ALWAYS displayed on the nav bar-->
        <a class="navbar-brand" href="{{ base_url() }}">
          <img src="{{ base_url() }}/../../IMAGES/favicon.ico" width="30" height="30" style="margin-right: 5px" class="d-inline-block align-top" alt="Logo">
          Apartment Searcher |
        </a>

        <!--drop down button generated when screen becomes small-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--what the drop down button shows-->
        <div class="collapse navbar-collapse" id="navbarText">
          <!--LEFT Aligned Elements-->
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                {% if not user %}
                  <span class="navbar-text" id = "loginSpan">
                      <form action="{{ base_url() }}/authentication">
                        <button type="submit" class="btn btn-sm" id="loginButton">Log in</button>
                      </form>
                  </span>
                {% else %}
                <!--TODO add navigation to all the other user pages-->
                <span class="navbar-text" id ="greetSpan">
                    <p userid = "{{ user.getId() }}"> Welcome, {{ user.getName() }}</p>
                    <button type="button" class="btn btn-sm" id="logoutButton">Logout</button>
                </span>
                {% endif %}
            </li>
          </ul>
            
          <!--RIGHT aligned Elements-->
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Other Links and stuff</a>
            </li>
          </ul>
        </div>
    </nav>

    <!--body-->
    <div class="container content" id="body">
        <div id="mainDiv">
            {% block content %}{% endblock %}
        </div>
    </div>

    <!--footer-->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2 class="logo"><a href="#"> <img src="{{ base_url() }}/../../IMAGES/favicon.ico" alt="Logo" height="100" width="100"></a></h2>
                </div>
                <div class="col-sm-2">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Log in</a></li>
                        <li><a href="#">Sign up</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <button type="button" class="btn btn-default">Contact us</button>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>All Rights Reserved © 2018 By : Jafet Reyes | Gerardo Guerrero | Bryan Cancel</p>
            <p>Created For Educational Purposes</p>
        </div>
    </footer>

    <!--layout style sheet-->
    <link rel="stylesheet" href="{{ base_url() }}/../../TEMPLATES/layout/css/layout.css">

    <!--javascript connection but go before logic-->
    <script src="{{ base_url() }}/../../TEMPLATES/layout/javascript/layoutConnection.js"></script>
    <script src="{{ base_url() }}/../../TEMPLATES/layout/javascript/layoutLogic.js"></script>

    {% block styles %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>